/* Hide scrollbar styles */
.scrollbarHide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbarHide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}